statemachine/stock_trader.asl.json
{
    "Comment": "A state machine that does mock stock trading.",
    "StartAt": "Check Balance in Chase Bank",
    "States": {
        "Check Balance in Chase Bank": {
            "Type": "Task",
            "Resource": "${BalanceCheckingServiceFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "Enough Balance ??"
        },
        "Enough Balance ??": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.amount_to_transfer",
                    "NumericGreaterThanEquals": 100,
                    "Next": "Withdraw Cash"
                }
            ],
            "Default": "Pass"
        },
        "Pass": {
      "Type": "Pass",
      "End": true
    },
        "Withdraw Cash": {
            "Type": "Task",
            "Resource": "${WithdrawalServiceFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 1
                }
            ],
            "Next": "Deposit Cash into bank Of America"
        },
        "Deposit Cash into bank Of America": {
            "Type": "Task",
            "Resource": "${DepositServiceFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 1
                }
            ],
             "End": true
        }
    }
}